:root {
    --primary: #1b262c;
    --secondary: #0f4c75;
    --info: #3282b8;
    --other: #bbe1fa;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* min-height: 2000px; */
  }


.navbar {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid var(--other);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .logo-namaweb{ 
    display: flex;
    gap: 5px;
    margin-left: 24px;
    align-items: center;

   }

  .navbar .navbar-logo {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  
  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--info);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--info);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
    color: rgb(0, 0, 0);
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--info);
  }

  .navbar-extra{
    display: flex;
    gap: 24px;
  }

  .navbar-extra button{
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: #FF7E67;
  }

  .navbar-extra img{
    width: 3rem;
    height: 3rem;
  }


/* ------------------------------------------------------------------------------------------- */

.room-chatbot{
    margin: 10em;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: #F4F4F4;
    height: 30%;
}

.nama-room{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #07689F;
    border-radius: 8px;
}

.nama-room h3{
   color: white;
}

.chatting{
    padding: 4em;
}

.chatting #pesan-chatbot{
    padding: 1.5em;
    margin-right: 35.4em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 12px;
}

.chatting #pesan-user{
    padding: 1.5em;
    margin-left: 35.4em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 12px;
}

.tempat-ketik{
    display: flex;
    background-color: #07689F;
    gap: 16px;
    border-radius: 8px;
}

.tempat-ketik input{
    margin: 6px;
    margin-left: 8em;
    width: 70%;
    border-radius: 8px;
}

.tempat-ketik img{
    width: 2.6rem;
    height: 2.6rem;
}

 /* ------------------------------------------------------------------------------------------- */

.footer{ 
    padding-top: 30px;
    border-top: 4px solid #263238;
    background-color: #263238;
    display: flex;
    gap: 50px;
    height: 150px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logo-footer h5{
    font-family: 'Karla', light;
    font-size: 16px;
    color: #F7FBFE;
}

.logo-footer img{ 
    width: 70px; 
    height: 45px;
}

.logo-footer{ 
    display: flex;
    gap: 5px;
    margin-left: 200px;
    align-items: center;
}

.logo-sosmed img{ 
    width: 20px; 
    height: 20px;
}

.logo-sosmed{ 
    margin-left: 200px;
}

.logo-sosmed {
    margin-left: 200px;
}

.logo-sosmed img {
    width: 20px;
    height: 20px;
}

.footer-one p {
    margin-top: 5px;
    margin-left: 200px;
    font-family: 'Karla', light;
    font-size: 16px;
    color: #F7FBFE;
}

.footer-two, .footer-three {
    margin-left: 200px;
}

.footer-two h4 {
    margin-bottom: 8px;
    font-family: 'Karla', light;
    color: #F7FBFE;
}

.footer-two p {
    font-family: 'Karla', light;
    color: #F7FBFE;
    font-size: 16px;
}

.footer-three h4 {
    font-family: 'Karla', light;
    color: #F7FBFE;
}

.footer-three p {
    font-family: 'Karla', light;
    font-size: 16px;
    color: #F7FBFE;
}

