:root {
  --primary: #1b262c;
  --secondary: #0f4c75;
  --info: #3282b8;
  --other: #bbe1fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* min-height: 2000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid var(--other);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.navbar .navbar-nav a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--info);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--info);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: rgb(0, 0, 0);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--info);
}

.search {
  width: 20px;
  height: 20px;
}

.cart {
  width: 20px;
  height: 20px;
}

.profile {
  width: 20px;
  height: 20px;
}

.menu {
  width: 20px;
  height: 20px;
}

#menu {
  display: none;
}


/* ------------------------------------------------------------------------------------------- */

#icon-back{
  margin-top: 5em;
  position: fixed;
  width: 4.5%;
  height: 9%;
  margin-left: 5%;
  box-shadow: 0 5px 15px #d0d9e0; 
  border-radius: 100px;
  cursor: pointer;
}

.posisi-tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.room-chatbot {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: flex-start; 
  border: 2px solid whitesmoke;
  border-radius: 8px;
  background-color: whitesmoke;
  height: 33em;
  width: 70%;
}

.nama-room {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #07689F;
  border-radius: 8px;
  width: 100%;
}

.nama-room h3 {
  color: white;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}


.chatting {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-chat{
  margin-top: 5%; 
}

.box-chat #pesan-chatbot{
    padding: 1.3em;
    width: 30%;
    margin-bottom: 3%;
    margin-left: 5%;
    background-color: white;
    border-radius: 12px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
}

.box-chat #pesan-user{
    padding: 1.3em;
    width: 30%;
    margin-bottom: 3%;
    margin-right: 5%;
    background-color: white;
    border-radius: 12px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    margin-left: auto;
}

.tempat-ketik{
    display: flex;
    background-color: #07689F;
    gap: 16px;
    border-radius: 8px;
    margin-top: 13em;
    height: 11.5%;
    width: 100%;
}

.tempat-ketik input{
    margin: 8px;
    margin-left: 7em;
    padding-left: 2%;
    width: 70%;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
}

.tempat-ketik img{
    width: 2.4rem;
    height: 2.4rem;
    padding: 0px;
    margin-top: 0.5%;
    border-radius: 100px;
    cursor: pointer;
}

 /* ------------------------------------------------------------------------------------------- */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: var(--other);
}

footer .copyright {
  font-size: 0.8rem;
}

footer .copyright p {
  color: var(--other);
  font-weight: 700;
}



/* @media screen and (max-width: 1075px){
  .chatting #pesan-chatbot{
    width: 36%;
  }

  .chatting #pesan-user{
    width: 36%;
  }
  .chatting{
    padding: 3.5em;
  }
  .room-chatbot{
    height: 30em;
    margin-top: 4em;
  }
  #icon-back{
    width: 5%;
    height: 9.5%;
  }
  .tempat-ketik input{
    margin-left: 5em;
  }
}

@media screen and (max-width: 1025px){
  .chatting{
    padding: 3.4em;
  }
  #icon-back{
    width: 5.2%;
  }
}


@media screen and (max-width: 880px){
  .room-chatbot{
    width: 75%;
  }
} */